<launch>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/blueRovBag.yaml" />
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="dvl_to_base" args="0 0 0 0 0 0 1 base_link base_DVL" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base" args="0 0 0 0 0 0 1 base_link odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_base" args="0 0 0 0 0 0 1 base_link imu_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="depth_to_map" args="0 0 0 0 0 0 1 base_link depth_sensor" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 1 map odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="orb_to_map" args="0 0 -0.42999997735 -0.0197868556729 0.01251406715950 -0.920387348775 0.38953189585 map orbslam/camera" />


  <node pkg="bluerov_ros_playground" type="rigidBody.py" name="raw_naw" output="screen"/>
  <node pkg="bluerov_ros_playground" type="SensorDataConverter.py" name="SensorConverter" output="screen">
<rosparam command="load" file="$(find bluerov_ros_playground)/config/girona.yaml" />
</node>
  <node pkg="bluerov_ros_playground" type="nav_plotter.py" name="nav_plotter" output="screen"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="-r 5 $(find bluerov_ros_playground)/bags/br.bag --topics /teledyne_explorer/DVL /BlueRov2/imu/data /BlueRov2/Depth2 /orb_slam2_stereo/pose"/>
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_localization)/rviz/blueRovBag.rviz" />
<node pkg="rosbag" type="record" name="rosbag_record_diag" args="record -o $(find bluerov_ros_playground)/bags/calib.bag -a"/>
</launch>
 



  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="orb_to_map" args="0 0 -0.42999997735 -0.0197868556729 0.01251406715950 -0.920387348775 0.38953189585 map orbslam/camera" /> 0.0197647320028 0.0124693035424 -0.920395094936 0.389516151474 -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_DVL" args="0 0 0 0.0801147, 0.022717, -0.2049795, 0.9752174 base_link base_DVL" /> --> 
