<launch>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/girona.yaml" />
   <!--  Placeholder for output topic remapping
    <remap from="accel/filtered" to=""/>
   <remap from="odometry/filtered" to="no_gyro/odometry/filtered"/>
    -->
  </node>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_DVL" args="0 0 0 0.0801147, 0.022717, -0.2049795, 0.9752174 base_link base_DVL" /> --> 

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_DVL" args="0 0 0 0.383 0.924 0.000 0.000 base_link base_DVL" />

  <node pkg="tf" type="static_transform_publisher" name="imu_to_base" args="1 0 0 0 0 0 base_link imu_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="depth_to_map" args="1 0 0 0 0 0 base_link depth_sensor 100" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 1 map odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 1 map world" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="orb_to_map" args="0 0 -0.42999997735 -0.0197868556729 0.01251406715950 -0.920387348775 0.38953189585 map orbslam/camera" />
  <node pkg="bluerov_ros_playground" type="rigidBody.py" name="raw_naw" output="screen"/>
  <node pkg="bluerov_ros_playground" type="gironaConverter.py" name="SensorConverter" output="screen">
<rosparam command="load" file="$(find bluerov_ros_playground)/config/girona.yaml" />
</node>
  <node pkg="bluerov_ros_playground" type="nav_plotter.py" name="nav_plotter" output="screen"/>
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1 $(find bluerov_ros_playground)/bags/girona.bag --topics /cola2_navigation/teledyne_explorer_dvl /cola2_navigation/imu /cola2_navigation/pressure_sensor /pose_ekf_slam/odometry"/>
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_localization)/rviz/girona.rviz" />
</launch>
